<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EventNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <EventNotifier.Properties.Settings>
            <setting name="GameTimeRatio" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="NotifyBefore" serializeAs="String">
                <value>00:10:00</value>
            </setting>
            <setting name="TimeShift" serializeAs="String">
                <value>01:23:45</value>
            </setting>
        </EventNotifier.Properties.Settings>
    </userSettings>
</configuration>
